doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Pact_App
  // Bootstrap core CSS
  link(rel='stylesheet' href='/vendor/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/style.css')
#featured-3.container.py-5
  h2.pb-2.border-bottom Bienvenu sur Pact_App
  p(style="color: green")
    strong= mess4
  p.start
    | inscrivez vous &#xF63A; sinon connectez vous 
    a(href='/api/page/connect')
      |  SingIn
  .row.g-5.py-5
    .feature.col-md-4
      main.form-signin
        form(action="/api/user/create" method="Post")
          //img.mb-4(src='/docs/5.0/assets/brand/bootstrap-logo.svg' alt='' width='72' height='57')
          p(style="color: red")= mess0
          h1.h3.mb-3.fw-normal Please sign Up
          .form-floating
            input#floatingInput.form-control(type='text' name="nom"  placeholder='Paul')
            label(for='floatingInput') Nom
            p(style="color: red")= mess
          .form-floating
            input#floatingInput.form-control(type='email' name="email" placeholder='name@example.com')
            label(for='floatingInput') Email address
            p(style="color: red")= mess1
          .form-floating
            input#floatingPassword.form-control(type='password' name="password" placeholder='Password')
            label(for='floatingPassword') Password
            p(style="color: red")= mess2
            p(style="color: red")= mess3
          button.w-100.btn.btn-lg.btn-primary(type='submit') Sign up
          p.mt-5.mb-3.text-muted &copy; 2021
